<% @items.each do |item| %>
  <h3>
    <%= item.name %>：<%= link_to '全部', item_path(item) %> / <%= link_to '非金融股', item_path(item, category: 'exclude-finance') %> / <%= link_to '金融股', item_path(item, category: 'finance') %>
  </h3>
<% end %>
